[Unit]
Description=SearXNG
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/searxng/searxng:latest
ContainerName=searxng
Network=ai-net
PublishPort=127.0.0.1:8081:8080
Volume=/home/bluu/Programming/Tinkering/local-AI/searxng:/etc/searxng:Z
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
