[Unit]
Description=Auto-start Bitwarden
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/flatpak run com.bitwarden.desktop
Restart=on-failure

[Install]
WantedBy=graphical-session.target
