[user]
	name = Bryan Luu
	email = loc.bryan.luu@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	undo = reset --mixed HEAD~1
	publish = push --set-upstream origin HEAD
	shove = push -f
[core]
	editor = nvim
	excludesfile = /home/bluu/.gitignore
[maintenance]
	repo = /home/bluu/.oh-my-zsh
	repo = /home/bluu/.oh-my-zsh/plugins/zsh-snap
	repo = /home/bluu/.oh-my-zsh/plugins/pure
	repo = /home/bluu/.oh-my-zsh/plugins/spaceship-prompt
	repo = /home/bluu/.oh-my-zsh/plugins/zsh-autocomplete
	repo = /home/bluu/.oh-my-zsh/plugins/zsh-autosuggestions
	repo = /home/bluu/.oh-my-zsh/plugins/zsh-syntax-highlighting
[safe]
	directory = /home/bluu/Programming/Tinkering/local-AI/searxng
